Repository reviewpad/reviewpad, pull requests merged in 2022-12, with the labels that each got.

#484 feat: have all checks run completed
  codehost/github/pull_requests.go
  codehost/github/target/pull_request_target.go
  engine/transform.go
  engine/transform_internal_test.go
  plugins/aladino/builtins.go
  plugins/aladino/functions/haveAllChecksRunCompleted.go
  plugins/aladino/functions/haveAllChecksRunCompleted_test.go
Labels: plugins, large, external-contribution, run-build, ask, waiting-review

#485 feat: add shadow to taskfile
  Taskfile.yml
Labels: external-contribution, small, run-build, ask, waiting-review, requires-author-attention

#489 feat: add isLinkedToProject built-in
  codehost/github/issues.go
  codehost/github/issues_test.go
  codehost/github/repo.go
  codehost/github/target/common_target.go
  codehost/github/target/issue_target.go
  codehost/github/target/pull_request_target.go
  codehost/target.go
  engine/exec.go
  plugins/aladino/builtins.go
  plugins/aladino/functions/isLinkedToProject.go
  plugins/aladino/functions/isLinkedToProject_test.go
Labels: plugins, large, run-build, ask, waiting-review

#495 feat: extend isLinkedToProject for pull requests
  codehost/github/issues.go
  codehost/github/issues_test.go
  codehost/github/pull_requests.go
  codehost/github/target/common_target.go
  codehost/github/target/issue_target.go
  codehost/github/target/pull_request_target.go
Labels: ship, large, run-build

#497 fix: isLinkedToProject API
  codehost/github/target/pull_request_target.go
  plugins/aladino/functions/isLinkedToProject_test.go
Labels: plugins, ship, small, run-build

#500 feat: output executed program
  cli/cmd/run.go
  runner.go
Labels: critical, small, run-build, show

#493 feat: provide command error feedback as comment
  engine/exec.go
  engine/exec_test.go
  utils/pr.go
  utils/pr_test.go
Labels: external-contribution, small, run-build, ask, waiting-review

#506 feat: is merged
  plugins/aladino/builtins.go
  plugins/aladino/functions/isMerged.go
  plugins/aladino/functions/isMerged_test.go
Labels: plugins, medium, external-contribution, run-build, ask, waiting-review

#515 feat: add extends capability to engine
  cli/cmd/check.go
  cli/cmd/run.go
  engine/exec_test.go
  engine/lang.go
  engine/loader.go
  engine/loader_test.go
  engine/testdata/loader/process/reviewpad_with_extends_after_processing.yml
  engine/testdata/loader/reviewpad_with_cyclic_extends_dependency_a.yml
  engine/testdata/loader/reviewpad_with_cyclic_extends_dependency_b.yml
  engine/testdata/loader/reviewpad_with_extends.yml
  engine/testdata/loader/reviewpad_with_invalid_extends.yml
  engine/testdata/loader/reviewpad_with_no_extends_a.yml
  engine/testdata/loader/reviewpad_with_no_extends_b.yml
  engine/testutils/parse.go
  runner.go
  utils/load.go
  utils/url.go
  utils/url_test.go
Labels: large, critical, run-build, ask, waiting-review

#522 chore: go mod tidy
  go.sum
Labels: ship, small, run-build

#529 fix: extends for all properties of reviewpad file
  engine/lang.go
  engine/lang_internal_test.go
  engine/loader_test.go
  engine/testdata/loader/process/reviewpad_with_extends_after_processing.yml
  engine/testdata/loader/reviewpad_with_no_extends_a.yml
  engine/testdata/loader/reviewpad_with_no_extends_b.yml
Labels: large, run-build, ask

#526 feat: merge built-in is only enabled on open and non-draft prs
  plugins/aladino/actions/merge.go
  plugins/aladino/actions/merge_test.go
Labels: plugins, large, run-build, ask, waiting-review

#533 fix: log unused rules instead returning error
  engine/linter.go
Labels: ship, small, run-build

#534 fix: update label color property
  engine/exec.go
  engine/exec_test.go
  engine/labels.go
Labels: medium, run-build, ask, waiting-review

#537 feat: metrics-on-merge flag
  engine/env.go
  engine/inline_rules_normalizer.go
  engine/lang.go
  engine/loader.go
  engine/loader_internal_test.go
  engine/loader_test.go
  engine/testdata/loader/process/reviewpad_with_extends_after_processing.yml
  engine/testdata/loader/reviewpad_with_no_extends_a.yml
  lang/aladino/interpreter.go
  lang/aladino/interpreter_internal_test.go
  runner.go
Labels: large, critical, run-build, show

#536 feat: is binary built-in function
  plugins/aladino/builtins.go
  plugins/aladino/functions/isBinary.go
  plugins/aladino/functions/isBinary_test.go
Labels: plugins, large, external-contribution, run-build, ask

#535 feat: approvals count built-in
  codehost/github/pull_requests.go
  codehost/github/target/pull_request_target.go
  plugins/aladino/builtins.go
  plugins/aladino/functions/approvalsCount.go
  plugins/aladino/functions/approvalsCount_test.go
Labels: plugins, large, external-contribution, run-build, ask, waiting-review

#544 test: add unit test on eval for nested calls
  lang/aladino/eval_test.go
Labels: ship, small, run-build

#545 docs: update README
  README.md
Labels: ship

#549 feat: process installation events
  handler/processors.go
  handler/processors_test.go
Labels: large, external-contribution, critical, run-build, ask, waiting-review

#553 feat: update collector with options
  cli/cmd/run.go
  collector/collector.go
  engine/mocks.go
  lang/aladino/mocks.go
Labels: medium, run-build, ask, waiting-review

#552 feat: add github app client
  codehost/github/apps.go
  codehost/github/apps_test.go
  codehost/github/client.go
  codehost/github/client_test.go
  go.mod
  go.sum
  lang/aladino/mocks.go
Labels: large, run-build, ask, requires-author-attention

#555 feat: filesPath built-in function
  plugins/aladino/builtins.go
  plugins/aladino/functions/filesPath.go
  plugins/aladino/functions/filesPath_test.go
Labels: plugins, medium, large, external-contribution, run-build, ask, waiting-review

#542 feat: join built-in function
  engine/transform.go
  engine/transform_internal_test.go
  plugins/aladino/builtins.go
  plugins/aladino/functions/join.go
  plugins/aladino/functions/join_test.go
Labels: plugins, large, external-contribution, run-build, ask, waiting-review

#572 fix: review built-in
  plugins/aladino/actions/review.go
  plugins/aladino/actions/review_test.go
Labels: plugins, large, run-build, show, waiting-review

#558 feat: context built-in function
  codehost/github/target/issue_target.go
  codehost/github/target/pull_request_target.go
  codehost/target.go
  plugins/aladino/builtins.go
  plugins/aladino/functions/context.go
  plugins/aladino/functions/context_test.go
  utils/json.go
Labels: plugins, large, external-contribution, run-build, ask, waiting-review

#563 feat: selectFromJSON and selectFromContext built-in functions
  lang/aladino/mocks.go
  plugins/aladino/builtins.go
  plugins/aladino/functions/context_test.go
  plugins/aladino/functions/selectFromContext.go
  plugins/aladino/functions/selectFromContext_test.go
  plugins/aladino/functions/selectFromJSON.go
  plugins/aladino/functions/selectFromJSON_test.go
Labels: plugins, large, external-contribution, run-build, ask, waiting-review, requires-author-attention

#566 feat: matchString built-in function
  plugins/aladino/builtins.go
  plugins/aladino/functions/matchString.go
  plugins/aladino/functions/matchString_test.go
Labels: plugins, large, run-build, ask, waiting-review

#551 feat: setProjectField built-in for single select fields
  codehost/github/issues.go
  codehost/github/issues_test.go
  codehost/github/projects.go
  codehost/github/projects_test.go
  codehost/github/target/common_target.go
  codehost/github/target/issue_target.go
  codehost/github/target/pull_request_target.go
  codehost/target.go
  plugins/aladino/actions/addToProject.go
  plugins/aladino/actions/addToProject_test.go
  plugins/aladino/actions/setProjectField.go
  plugins/aladino/builtins.go
Labels: plugins, large, run-build, ask, waiting-review

#591 fix: randomly failing filesPath tests
  plugins/aladino/functions/filesPath_test.go
Labels: plugins, small, run-build, ask

#585 feat: toNumber built-in function
  plugins/aladino/builtins.go
  plugins/aladino/functions/toNumber.go
  plugins/aladino/functions/toNumber_test.go
Labels: plugins, large, run-build, ask, waiting-review

#587 feat: toBool built-in function
  plugins/aladino/builtins.go
  plugins/aladino/functions/toBool.go
  plugins/aladino/functions/toBool_test.go
Labels: plugins, large, run-build, ask, waiting-review

#588 feat: toStringArray built-in function
  plugins/aladino/builtins.go
  plugins/aladino/functions/toStringArray.go
  plugins/aladino/functions/toStringArray_test.go
Labels: plugins, medium, run-build, ask, waiting-review

#592 feat: extend sprintf to support other types
  lang/aladino/type.go
  lang/aladino/type_internal_test.go
  plugins/aladino/functions/sprintf.go
  plugins/aladino/functions/sprintf_test.go
Labels: plugins, medium, run-build, ask, waiting-review

#593 fix: join separator default function
  engine/transform.go
  engine/transform_internal_test.go
Labels: small, run-build, ask, waiting-review
