Repository reviewpad/reviewpad, pull requests merged in 2022-10, with the labels that each got.

#374 test: fix isWaitingForReview unit tests
  plugins/aladino/functions/isWaitingForReview_test.go
Labels: plugins, large, run-build, ask, waiting-review

#372 feat: $removeLabels action built-in
  codehost/github/target/common_target.go
  codehost/github/target/pull_request_target.go
  plugins/aladino/actions/removeLabels.go
  plugins/aladino/actions/removeLabels_test.go
  plugins/aladino/builtins.go
Labels: plugins, large, run-build, ask, waiting-review

#387 chore: update README
  README.md
Labels: ship, small

#388 docs: update reviewpad example in README.md
  README.md
Labels: ship, small

#390 feat: add pipeline count to collector
  engine/exec.go
Labels: ship, small, run-build

#393 remove error return from GetLabels()
  codehost/github/target/issue_target.go
  codehost/github/target/pull_request_target.go
  codehost/target.go
  plugins/aladino/actions/removeLabel.go
  plugins/aladino/functions/labels.go
Labels: plugins, external-contribution, small, run-build, waiting-review, HACKTOBERFEST-ACCEPTED

#395 test: add rebase unit tests
  codehost/github/repo_test.go
  lang/aladino/mocks.go
  plugins/aladino/actions/rebase_test.go
Labels: plugins, large, run-build, ask, waiting-review

#392 feat: ignore stale labeling for good first issues
  stale.yml
Labels: small, run-build, ask, waiting-review

#382 feat: add policy to assign reviewer
  engine/mocks.go
  engine/transform.go
  plugins/aladino/actions/assignReviewer.go
  plugins/aladino/actions/assignReviewer_test.go
Labels: plugins, large, run-build, ask, waiting-review

#396 feat: add review built-in
  codehost/github/pull_requests.go
  codehost/github/target/pull_request_target.go
  plugins/aladino/actions/review.go
  plugins/aladino/actions/review_test.go
  plugins/aladino/builtins.go
Labels: plugins, large, external-contribution, run-build, ask, waiting-review

#397 fix: assignReviewer when 2 reviewers already approve
  plugins/aladino/actions/assignReviewer_test.go
Labels: plugins, medium, external-contribution, run-build, waiting-review

#403 fix: parse aladino types
  lang/aladino/lex.go
  lang/aladino/parse_test.go
  lang/aladino/parser.go
  lang/aladino/parser.y
Labels: large, external-contribution, run-build, ask, waiting-review

#405 feat: delete head branch built in action
  codehost/github/pull_requests.go
  lang/aladino/mocks.go
  plugins/aladino/actions/deleteHeadBranch.go
  plugins/aladino/actions/deleteHeadBranch_test.go
  plugins/aladino/builtins.go
Labels: plugins, medium, large, external-contribution, run-build, ask, waiting-review

#418 feat: add runner env property to mixpanel collector
  cli/cmd/run.go
  collector/collector.go
  engine/mocks.go
  lang/aladino/mocks.go
Labels: small, run-build, ask, waiting-review

#412 feat: hasRequiredApprovals built-in
  plugins/aladino/builtins.go
  plugins/aladino/functions/hasRequiredApprovals.go
  plugins/aladino/functions/hasRequiredApprovals_test.go
Labels: plugins, large, run-build, ask, waiting-review

#414 feat: assign reviewers command
  engine/commands/assignReviewer.go
  engine/commands/assignReviewer_test.go
  engine/commands/commands.go
  engine/exec.go
  engine/exec_test.go
  engine/labels_internal_test.go
  engine/mocks.go
  handler/processors.go
  handler/processors_test.go
Labels: large, external-contribution, run-build, ask, waiting-review

#404 feat: set conditions for a review to be done with review built-in
  codehost/review.go
  codehost/review_test.go
  plugins/aladino/actions/assignReviewer.go
  plugins/aladino/actions/review.go
  plugins/aladino/actions/review_test.go
Labels: plugins, large, critical, run-build, ask, waiting-review

#431 docs: update README.md to reflect use of service
  README.md
Labels: ship
