Repository reviewpad/reviewpad, pull requests merged in 2022-11, with the labels that each got.

#430 feat: close with state reason
  codehost/github/target/issue_target.go
  codehost/github/target/pull_request_target.go
  codehost/target.go
  engine/transform.go
  engine/transform_internal_test.go
  lang/aladino/mocks.go
  plugins/aladino/actions/close.go
  plugins/aladino/actions/close_test.go
Labels: plugins, large, external-contribution, run-build, ask, waiting-review

#427 feat: comment metric report when pr is merged
  codehost/github/pull_requests.go
  engine/env.go
  handler/processors.go
  handler/processors_test.go
  lang/aladino/interpreter.go
  lang/aladino/interpreter_internal_test.go
  lang/aladino/mocks.go
  lang/aladino/report.go
  lang/aladino/report_internal_test.go
  runner.go
  utils/pr.go
  utils/pr_test.go
  utils/time.go
  utils/time_test.go
Labels: large, external-contribution, critical, run-build, ask, waiting-review

#447 feat: add rp package
  go.mod
  go.sum
  rp/aws.go
  rp/convert_types.go
  rp/env.go
Labels: large, run-build, ask, waiting-review

#413 feat: nested array and function types
  lang/aladino/lex.go
  lang/aladino/parse_test.go
  lang/aladino/parser.go
  lang/aladino/parser.y
Labels: large, external-contribution, run-build, ask

#440 fix: incorrect conversion between integer types code scanning alert
  codehost/diff.go
Labels: external-contribution, small, run-build, waiting-review

#443 fix: add default state for pullRequestCountBy and issueCountBy built-ins in transform
  engine/transform.go
  engine/transform_internal_test.go
  plugins/aladino/functions/issueCountBy.go
  plugins/aladino/functions/pullRequestCountBy.go
Labels: plugins, medium, external-contribution, run-build, waiting-review

#446 fix: don't re-request review unless a new commit has been pushed
  codehost/github/target/pull_request_target.go
  plugins/aladino/actions/assignReviewer.go
  plugins/aladino/actions/assignReviewer_test.go
Labels: plugins, large, external-contribution, run-build, ask, waiting-review

#454 feat: improve metric report
  utils/time.go
  utils/time_test.go
Labels: medium, external-contribution, run-build, waiting-review

#457 fix: process where expression in groups using transformers
  engine/exec.go
Labels: external-contribution, small, run-build

#458 docs: update README
  README.md
Labels: ship

#459 feat: event data
  cli/cmd/run.go
  engine/env.go
  engine/env_test.go
  engine/exec.go
  engine/exec_test.go
  engine/labels_internal_test.go
  engine/mocks.go
  handler/processors.go
  handler/processors_test.go
  lang/aladino/mocks.go
  runner.go
  utils/pr.go
  utils/pr_test.go
Labels: large, external-contribution, critical, run-build, ask, waiting-review

#433 feat: improve assign reviewer command
  engine/commands/assignReviewer.go
  engine/commands/assignReviewer_test.go
  engine/commands/commands.go
  engine/exec.go
  engine/exec_test.go
  go.mod
  go.sum
  utils/pr.go
  utils/pr_test.go
Labels: large, external-contribution, run-build, ask, waiting-review

#452 fix: ignore extra args to sprintf built-in function
  plugins/aladino/functions/sprintf.go
  plugins/aladino/functions/sprintf_test.go
Labels: plugins, medium, external-contribution, run-build, ask, waiting-review, requires-author-attention

#463 chore: update dependencies
  go.mod
  go.sum
Labels: ship, large, run-build

#468 fix: check run conclusion when check is not completed
  plugins/aladino/functions/checkRunConclusion.go
  plugins/aladino/functions/checkRunConclusion_test.go
Labels: plugins, large, run-build, show

#479 chore: go mod tidy
  go.sum
Labels: ship, small, run-build

#482 feat: state built-in for issues and pull requests
  codehost/github/target/issue_target.go
  codehost/github/target/pull_request_target.go
  codehost/target.go
  lang/aladino/mocks.go
  plugins/aladino/builtins.go
  plugins/aladino/functions/state.go
  plugins/aladino/functions/state_test.go
Labels: plugins, medium, run-build, show, waiting-review

#480 feat: add hasBinaryFile built-in function
  codehost/github/pull_requests.go
  codehost/github/target/pull_request_target.go
  plugins/aladino/builtins.go
  plugins/aladino/functions/hasBinaryFile.go
  plugins/aladino/functions/hasBinaryFile_test.go
Labels: plugins, large, external-contribution, run-build, ask, waiting-review
