Repository reviewpad/reviewpad, pull requests merged in 2022-09, with the labels that each got.

#311 feat: rebase
  codehost/github/repo.go
  codehost/github/repo_test.go
  go.mod
  go.sum
  plugins/aladino/actions/rebase.go
  plugins/aladino/actions/rebase_test.go
  plugins/aladino/builtins.go
Labels: plugins, large, run-build, ask, waiting-review, requires-author-attention

#343 fix: Editorconfig config file tweaks
  .editorconfig
Labels: external-contribution, small, run-build, ask, waiting-review

#341 feat: Allow number sign in label color hex values
  engine/exec_test.go
  engine/labels.go
  engine/labels_internal_test.go
Labels: medium, large, external-contribution, small, run-build, ask, waiting-review

#269 feat: add patterns to size built-in
  engine/transform.go
  engine/transform_internal_test.go
  plugins/aladino/functions/size.go
  plugins/aladino/functions/size_test.go
Labels: plugins, medium, large, external-contribution, run-build, ask, waiting-review, priority

#315 feat: close issue/pull request with comment
  codehost/github/target/issue_target.go
  codehost/github/target/pull_request_target.go
  codehost/target.go
  engine/transform.go
  plugins/aladino/actions/close.go
  plugins/aladino/actions/close_test.go
Labels: plugins, large, run-build, ask, waiting-review, requires-author-attention

#346 chore: update readme with code coverage percentage display cmd
  README.md
Labels: small, ask, waiting-review

#221 fix: fetch last update date from push for isWaitingForReview
  codehost/github/pull_requests.go
  codehost/github/pull_requests_test.go
  plugins/aladino/functions/isWaitingForReview.go
  plugins/aladino/functions/isWaitingForReview_test.go
Labels: plugins, medium, large, external-contribution, run-build, ask, waiting-review, priority

#351 fix: resolve parse conflicts
  lang/aladino/parse_test.go
  lang/aladino/parser.go
  lang/aladino/parser.y
Labels: large, run-build, ask, waiting-review

#347 feat: normalize reviewpad file
  engine/inline_rules_normalizer.go
  engine/lang_internal_test.go
  engine/loader.go
  engine/normalize.go
  engine/normalize_test.go
  engine/testdata/exec/reviewpad_with_activated_workflow_with_extra_actions.yml
  engine/testdata/exec/reviewpad_with_invalid_group.yml
  engine/testdata/exec/reviewpad_with_invalid_workflow.yml
  engine/testdata/exec/reviewpad_with_multiple_activated_workflows.yml
  engine/testdata/exec/reviewpad_with_no_activated_workflows.yml
  engine/testdata/exec/reviewpad_with_one_activated_workflow.yml
  engine/testdata/exec/reviewpad_with_skipped_workflow.yml
  engine/testdata/exec/reviewpad_with_unnamed_label.yml
  engine/testdata/exec/reviewpad_with_valid_group.yml
  engine/testdata/exec/reviewpad_with_valid_label.yml
  engine/testdata/loader/process/reviewpad_with_inline_rules.yml
  engine/testdata/loader/process/reviewpad_with_inline_rules_after_processing.yml
  engine/testdata/loader/process/reviewpad_with_inline_rules_with_extra_actions.yml
  engine/testdata/loader/process/reviewpad_with_inline_rules_with_extra_actions_after_processing.yml
  engine/testdata/loader/process/reviewpad_with_invalid_inline_rule.yml
  engine/testdata/loader/reviewpad_appended.yml
  engine/testdata/loader/reviewpad_with_cyclic_dependency_a.yml
  engine/testdata/loader/reviewpad_with_cyclic_dependency_b.yml
  engine/testdata/loader/reviewpad_with_import_file_with_parse_error.yml
  engine/testdata/loader/reviewpad_with_import_of_nonexistent_file.yml
  engine/testdata/loader/reviewpad_with_imports_chain.yml
  engine/testdata/loader/reviewpad_with_no_imports.yml
  engine/testdata/loader/reviewpad_with_one_import.yml
  engine/testdata/loader/transform/reviewpad_after_action_transform.yml
  engine/testdata/loader/transform/reviewpad_after_extra_action_transform.yml
  engine/testdata/loader/transform/reviewpad_after_kind_transform.yml
  engine/testdata/loader/transform/reviewpad_after_on_transform.yml
  engine/testdata/loader/transform/reviewpad_before_action_transform.yml
  engine/testdata/loader/transform/reviewpad_before_extra_action_transform.yml
  engine/testdata/loader/transform/reviewpad_before_kind_transform.yml
  engine/testdata/loader/transform/reviewpad_before_on_transform.yml
Labels: large, external-contribution, run-build, ask, waiting-review

#354 feat: any and all built-in functions
  plugins/aladino/builtins.go
  plugins/aladino/functions/all.go
  plugins/aladino/functions/all_test.go
  plugins/aladino/functions/any.go
  plugins/aladino/functions/any_test.go
Labels: plugins, large, external-contribution, run-build, ask, waiting-review

#322 feat: $hasGitConflicts function built-in
  handler/processors.go
  handler/processors_test.go
  plugins/aladino/builtins.go
  plugins/aladino/functions/hasGitConflicts.go
  plugins/aladino/functions/hasGitConflicts_test.go
  utils/test.go
Labels: plugins, large, critical, run-build, ask, waiting-review

#359 fix: do not request review from a reviewer that has last review approved
  codehost/github/target/pull_request_target.go
  codehost/target.go
  plugins/aladino/actions/assignReviewer.go
  plugins/aladino/actions/assignReviewer_test.go
Labels: plugins, large, run-build, ask, waiting-review

#366 test: add unit tests for GetPullRequestLastPushDate
  codehost/github/pull_requests_test.go
Labels: large, run-build, ask, waiting-review

#363 fix: $reviewers return list of requested reviewers
  plugins/aladino/functions/reviewers.go
  plugins/aladino/functions/reviewers_test.go
Labels: plugins, large, run-build, ask, waiting-review

#367 feat: $requestedReviewers built-in
  plugins/aladino/builtins.go
  plugins/aladino/functions/requestedReviewers.go
  plugins/aladino/functions/requestedReviewers_test.go
Labels: plugins, medium, run-build, ask, waiting-review

#373 fix: string literal regex breaks for strings which contain other strings
  lang/aladino/expr.go
  lang/aladino/expr_internal_test.go
  lang/aladino/lex.go
  lang/aladino/parse_test.go
Labels: medium, small, run-build, ask
