Repository reviewpad/reviewpad, pull requests merged in 2023-06, with the labels that each got.

#931 feat: download gh repo contents through commit SHA
  codehost/github/repositories.go
  engine/loader.go
  plugins/aladino/semantic/symbols.go
  utils/file.go
Labels: ship, medium

#933 chore: update log
  engine/exec.go
  engine/linter.go
  lang/aladino/exec.go
  lang/aladino/interpreter.go
  plugins/aladino/actions/commitLint.go
  plugins/aladino/actions/titleLint.go
  runner.go
Labels: plugins, ship, medium, critical

#934 fix: failing unit tests on commit and title lint
  plugins/aladino/actions/commitLint.go
  plugins/aladino/actions/titleLint.go
Labels: plugins, ship, small

#935 fix: pipeline execution
  engine/exec.go
  engine/exec_test.go
  engine/testdata/exec/reviewpad_with_pipelines.yml
Labels: ship, small

#936 test: codehost/github/repositories.go unit tests
  codehost/github/repositories_test.go
Labels: ship, large

#939 fix: filter reviews by code authors eligible to receive review requests
  plugins/aladino/actions/assignCodeAuthorReviewers.go
  plugins/aladino/actions/assignCodeAuthorReviewers_test.go
Labels: plugins, large, ask

#930 feat: dictionaries
  engine/env.go
  engine/exec.go
  engine/exec_test.go
  engine/inline_rules_normalizer.go
  engine/lang.go
  engine/linter.go
  engine/loader.go
  engine/loader_test.go
  engine/testdata/exec/reviewpad_with_dictionary_and_foreach_workflow.yml
  engine/testdata/exec/reviewpad_with_referenced_dictionary_and_foreach_workflow.yml
  engine/testdata/loader/process/reviewpad_with_extends_after_processing.yml
  engine/testdata/loader/reviewpad_with_extends.yml
  engine/testdata/loader/reviewpad_with_no_extends_a.yml
  engine/testdata/loader/reviewpad_with_no_extends_b.yml
  lang/aladino/interpreter.go
  lang/type.go
  lang/value.go
  plugins/aladino/builtins.go
  plugins/aladino/functions/dictionary.go
Labels: plugins, ship, large

#944 fix: consider variables in transformer functions
  engine/transform.go
  engine/transform_internal_test.go
Labels: ship, large

#946 fix: assign code author reviewers no changes
  plugins/aladino/actions/assignCodeAuthorReviewers.go
  plugins/aladino/actions/assignCodeAuthorReviewers_test.go
Labels: plugins, ship, medium

#947 feat: exclude yarn.lock files from blame information
  plugins/aladino/actions/assignCodeAuthorReviewers.go
Labels: plugins, ship, small

#943 feat: add pr/issue to project if it doesnt exist on project with `$setProjectField`
  codehost/github/target/common_target.go
  codehost/github/target/issue_target.go
  codehost/github/target/pull_request_target.go
  codehost/target.go
  plugins/aladino/actions/addToProject.go
  plugins/aladino/actions/addToProject_test.go
  plugins/aladino/actions/setProjectField.go
  plugins/aladino/actions/setProjectField_test.go
Labels: plugins, large, ask

#951 fix: don't fail processing groups on unsupported kind
  lang/aladino/eval.go
  lang/aladino/interpreter.go
Labels: ship, medium

#952 fix: set group to an empty list if it can't be processed
  lang/aladino/interpreter.go
Labels: ship, small

#968 feat: add create issue builtin
  cli/cmd/run.go
  engine/exec_test.go
  go.mod
  go.sum
  handler/processors.go
  integration_test/integration_test.go
  lang/aladino/env.go
  lang/aladino/env_test.go
  lang/aladino/interpreter.go
  lang/aladino/interpreter_internal_test.go
  lang/aladino/mocks.go
  plugins/aladino/actions/createIssue.go
  plugins/aladino/builtins.go
  runner.go
Labels: plugins, ship, large, critical, waiting-approval
