Repository reviewpad/reviewpad, pull requests merged in 2023-01, with the labels that each got.

#581 feat: generic mixpanel optional parameters
  collector/collector.go
Labels: medium, small, run-build, ask, waiting-review

#576 test: add unit tests for the review built-in
  plugins/aladino/actions/review_test.go
Labels: plugins, large, run-build, ask, waiting-review

#594 feat: process check run event
  handler/processors.go
  handler/processors_test.go
Labels: large, critical, run-build, ask, waiting-review

#607 Remove logger from github app client
  codehost/github/client.go
Labels: small, run-build

#608 fix: close built-in failing
  codehost/github/target/issue_target.go
  codehost/github/target/pull_request_target.go
  lang/aladino/mocks.go
  plugins/aladino/actions/close_test.go
  plugins/aladino/functions/context_test.go
Labels: plugins, large, run-build, ask

#605 refactor: process event payload
  cli/cmd/run.go
  engine/env.go
  engine/env_test.go
  engine/exec.go
  engine/exec_test.go
  engine/labels_internal_test.go
  engine/mocks.go
  handler/processors.go
  handler/processors_test.go
  handler/utils.go
  lang/aladino/mocks.go
  runner.go
  utils/pr.go
  utils/pr_test.go
Labels: large, critical, run-build, ask, waiting-review

#609 feat: review only if pull request has updates
  lang/aladino/mocks.go
  plugins/aladino/actions/review.go
  plugins/aladino/actions/review_test.go
  plugins/aladino/functions/context_test.go
Labels: plugins, large, run-build, ask

#502 feat: command error as comment
  engine/exec.go
  engine/exec_test.go
  engine/program.go
  engine/program_internal_test.go
  lang/aladino/interpreter.go
  lang/aladino/interpreter_internal_test.go
  runner.go
Labels: plugins, large, external-contribution, critical, run-build, ask, waiting-review, requires-author-attention, low priority

#478 feat: recipes
  README.md
  cli/cmd/run.go
  engine/exec.go
  engine/exec_test.go
  engine/inline_rules_normalizer.go
  engine/lang.go
  engine/lang_internal_test.go
  engine/loader.go
  engine/loader_test.go
  engine/program.go
  engine/program_internal_test.go
  engine/testdata/loader/reviewpad_appended.yml
  engine/testdata/loader/reviewpad_with_imports_chain.yml
  engine/testdata/loader/reviewpad_with_no_imports.yml
  engine/testdata/loader/reviewpad_with_one_import.yml
  go.mod
  go.sum
  lang/aladino/interpreter.go
  lang/aladino/interpreter_internal_test.go
  runner.go
Labels: medium, large, external-contribution, critical, run-build, ask, low priority

#619 chore: update dependencies
  go.mod
  go.sum
Labels: ship, large, run-build

#618 feat: assign random reviewer command
  engine/commands/assignRandomReviewer.go
  engine/commands/assignRandomReviewer_test.go
  engine/commands/commands.go
Labels: medium, run-build, ask, waiting-review

#628 fix: delete head branch reference does not exist issue
  plugins/aladino/actions/deleteHeadBranch.go
  plugins/aladino/actions/deleteHeadBranch_test.go
Labels: plugins, small, run-build, ask, waiting-review

#634 refactor: rebase token from client
  codehost/github/client.go
  plugins/aladino/actions/rebase.go
Labels: plugins, small, run-build, ask, waiting-review

#630 feat: process check suite events
  handler/processors.go
  handler/processors_test.go
Labels: large, critical, run-build, ask, waiting-review, requires-author-attention

#570 feat: add logging info for overrides
  engine/exec_test.go
  engine/lang.go
  engine/loader.go
  engine/loader_test.go
  runner.go
Labels: medium, large, critical, run-build, ask, waiting-review

#624 test: integration tests
  README.md
  Taskfile.yml
  integration_test/assets/binary
  integration_test/assets/builtin-close.yml
  integration_test/assets/builtin-delete-head-branch.yml
  integration_test/assets/builtin-fail.yml
  integration_test/assets/builtin-merge.yml
  integration_test/assets/builtin-others.yml
  integration_test/assets/readme.md
  integration_test/assets/utils/add.go
  integration_test/assets/utils/sub.go
  integration_test/integration_test.go
Labels: large, run-build, ask, waiting-review, requires-author-attention

#641 refactor: remove event from reviewpad run input
  cli/cmd/run.go
  runner.go
Labels: critical, small, run-build, ask, waiting-review

#640 fix: rebase remote auth error
  codehost/github/repo.go
  plugins/aladino/actions/rebase.go
Labels: plugins, small, run-build, ask, waiting-review

#646 feat: add annotation to ignore comment
  lang/aladino/interpreter.go
  lang/aladino/interpreter_internal_test.go
  lang/aladino/report.go
  lang/aladino/report_internal_test.go
  plugins/aladino/actions/comment.go
  plugins/aladino/actions/commentOnce.go
  plugins/aladino/actions/commentOnce_test.go
  plugins/aladino/actions/comment_test.go
Labels: plugins, medium, small, run-build, ask, waiting-review, requires-author-attention

#626 feat: dry run command
  lang/aladino/interpreter.go
  lang/aladino/report.go
  lang/aladino/report_internal_test.go
  runner.go
  utils/pr.go
Labels: medium, large, critical, run-build, ask, waiting-review

#639 chore: update readme with json schema configuration
  README.md
Labels: small, ask

#653 feat: collect all built-in rans to mixpanel
  lang/aladino/eval.go
Labels: small, run-build, ask, waiting-review

#656 fix: ignore reviewpad check runs by default
  plugins/aladino/functions/haveAllChecksRunCompleted.go
  plugins/aladino/functions/haveAllChecksRunCompleted_test.go
Labels: plugins, medium, small, run-build, ask, waiting-review

#657 feat: add account type and visibility to target entity
  handler/processors.go
  handler/processors_test.go
Labels: large, run-build, ask, waiting-review
