Repository reviewpad/reviewpad, pull requests merged in 2023-07, with the labels that each got.

#977 feat(revert): remove create issue builtin
  cli/cmd/run.go
  engine/exec_test.go
  go.mod
  go.sum
  handler/processors.go
  integration_test/integration_test.go
  lang/aladino/env.go
  lang/aladino/env_test.go
  lang/aladino/interpreter.go
  lang/aladino/interpreter_internal_test.go
  lang/aladino/mocks.go
  plugins/aladino/actions/createIssue.go
  plugins/aladino/builtins.go
  runner.go
Labels: plugins, ship, large, critical

#978 Fix a broken link in README
  README.md
Labels: ship, external-contribution, small

#987 feat: add checks
  engine/inline_rules_normalizer.go
  engine/lang.go
  engine/loader.go
  engine/loader_test.go
Labels: medium, show

#999 feat: add built-in dictionaryValueFromKey
  go.mod
  go.sum
  plugins/aladino/builtins.go
  plugins/aladino/functions/dictionaryValueFromKey.go
Labels: plugins, medium, show

#1003 fix: dictionaryValueFromKey return type
  engine/loader_test.go
  plugins/aladino/functions/dictionaryValueFromKey.go
  utils/url_test.go
Labels: plugins, ship, small
