Repository reviewpad/reviewpad, pull requests merged in 2023-04, with the labels that each got.

#820 fix: always remove label
  plugins/aladino/actions/removeLabel.go
  plugins/aladino/actions/removeLabel_test.go
Labels: plugins, ship, small, waiting-review, bug-fix

#825 fix: only consider opinionated reviews in has required approvals
  codehost/github/target/pull_request_target.go
  codehost/github/target/pull_request_target_test.go
  plugins/aladino/functions/hasRequiredApprovals_test.go
Labels: plugins, small, ask, waiting-review, bug-fix

#824 feat: compact format for if, then and actions
  engine/inline_rules_normalizer.go
  engine/lang.go
  engine/loader.go
  engine/loader_internal_test.go
  engine/loader_test.go
  engine/testdata/loader/process/reviewpad_with_multiple_inline_actions.yml
  engine/testdata/loader/process/reviewpad_with_multiple_inline_actions_after_processing.yml
  engine/testdata/loader/process/reviewpad_with_multiple_pipelines_with_inline_actions.yml
  engine/testdata/loader/process/reviewpad_with_multiple_pipelines_with_inline_actions_after_processing.yml
Labels: large, ask, waiting-review, requires-author-attention, new-feature

#832 test: enable debug on git blame query
  codehost/github/blame.go
  codehost/github/blame_test.go
  plugins/aladino/actions/assignCodeAuthorReviewers_test.go
Labels: plugins, small, ask, improvements

#827 feat: run block
  engine/exec.go
  engine/exec_test.go
  engine/inline_rules_normalizer.go
  engine/lang.go
  engine/linter.go
  engine/loader.go
  engine/testdata/exec/reviewpad_with_combination_run.yml
  engine/testdata/exec/reviewpad_with_list_of_actions_run.yml
  engine/testdata/exec/reviewpad_with_single_conditional_run.yml
  engine/testdata/exec/reviewpad_with_single_conditional_run_else.yml
  engine/testdata/exec/reviewpad_with_string_run.yml
Labels: large, ask, waiting-review, new-feature

#834 feat: process if then else block as a run
  engine/exec.go
  engine/inline_rules_normalizer.go
  engine/lang.go
  engine/linter.go
  engine/loader.go
  engine/loader_test.go
  engine/testdata/exec/reviewpad_with_combination_run.yml
  plugins/aladino/actions/assignCodeAuthorReviewers_test.go
Labels: plugins, medium, large, ask, waiting-review, new-feature

#847 feat: remove always run property and execute workflows independent of each other
  engine/exec.go
  engine/exec_test.go
  engine/inline_rules_normalizer.go
  engine/lang.go
  engine/lang_internal_test.go
  engine/loader.go
  engine/loader_test.go
  engine/program_internal_test.go
  engine/testdata/exec/reviewpad_with_combination_run.yml
  engine/testdata/exec/reviewpad_with_multiple_activated_workflows.yml
  engine/testdata/exec/reviewpad_with_single_conditional_run.yml
  engine/testdata/exec/reviewpad_with_skipped_workflow.yml
  integration_test/assets/builtin-close.yml
  integration_test/assets/builtin-delete-head-branch.yml
  integration_test/assets/builtin-fail.yml
  integration_test/assets/builtin-merge.yml
  integration_test/assets/builtin-others.yml
Labels: large, ask, breaking-change, approved
